@charset "UTF-8";

div > main > section {
	padding: 20px 0 100px;
}

.container_wrapper {
	padding: 0 100px;
	display: flex;
}

.contents_wrap {
	width: 400px;
   	margin: 0 auto;
   	padding-top: 0;

}

.required_img {
	width: 6px;
	height: 6px;
	background: url("./resources/images/ico_required@2x.png");
}




