@charset "UTF-8";
.contents_wrap .wrapper .header_wrapper .header_wrapper{
	position: relative;
	background-color: #fff;
	border-bottom: 1px solid #eaeaea;
	z-index: 1000;
}
.contents_wrap
.wrapper
.container_wrapper{
	min-height: calc(100vh - 80px);
	display: block;
	padding-top: 42px;
}

section .breadcrumb_inner{
	position: relative;
    width: 1200px;
    margin: 0 auto;
}
.contents_wrap .breadcrumb_wrap {
	width: 1200px;
	margin: 0 auto;
}
.contents_wrap .aside_header{
	margin-bottom: 30px;
}
.contents_wrap .contents_flex {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: row;
}

.contents_wrap .aside_wrap {
	width: 170px;
	padding-right: 46px;
}

.contents_wrap .title_wrap {
	width: 100%;
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
}

.contents_wrap .title_box {
	display: inline-box;
	font-weight: 700;
}

.contents_wrap .sub_title_wrap {
	padding-bottom: 30px;
}

/* section .tab_wrap {
	padding: 0;
	width: 100%;
	position: relative;
} */
.contents_wrap .title_wrap>li {
	display: inline-box;
}


/*  부모 클래스 찾아보기 height : 44px;*/
.contents_wrap .tab_list_wrap { 
	height: 44px;
}

section .title_tab { 
	display: flex;
	flex-wrap: nowrap;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	justify-content: space-around;
	border-radius: 6px 6px 0 0;
	background: #fff;
	align-items:center;
	flex : 1;
}

.contents_wrap .title_tab>li {
	display:inline-block;
	border:1px solid black;
	padding: 0 14px;
	line-height: 22px;
}

/* first second 코드 참고할 것  */
.contents_wrap .title_tab>.tab_text {
	height: 100%;
	font-weight: 500;
	padding-bottom: 2px;
	font-size: 14px;
	letter-spacing: -0.01em;
	display: block;
	box-sizing: border-box;
}
/* 콘텐츠 구간 */
.contents_wrap .list_wrap {
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: row;
	margin-bottom: 20px;
	padding: 16px;
	border-radius: 10px;
	background-color: #f7f7f7;
}

.contents_wrap .font_sort {
	display: block;
	padding-left: 8px;
	font-size: 14px;
	line-height: 22px;
	letter-spacing: -0.01em;
	font-weight: 500;
}
.contents_wrap .line{
	padding-top: 30px;
	 border-top: 1px solid #d5d5d5;
}
/*책 리스트 부분*/

.contents_wrap .prod_item:not(:first-of-type){
    padding-top: 36px;
    margin-top: 36px;
    border-top: 1px solid #eaeaea;	
}
