@charset "UTF-8";
 
body{
	height:100%;
	min-width:1440px;
}


.header_inner{
	width:100%;
	margin: 0 auto;
	text-align: center;
}

.wrapper_member_login{
 display:flex;
 flex-direction: column;
 padding-top: 100px;
 min-height: 100%;
 padding-top: 100px;
 box-sizing: border-box
 }

 
.header_wrapper{
	 position:relative;
	 width: 100%;
	 border-bottom: none;
	 height: 54px;
	 margin: 0 auto;
 }
 
.wrapper_member_login .header_wrapper {
    width: 100%;
    border-bottom: none;
    height: 54px;
}

.logo_box{
	display:inline-block;
	margin:0 auto;
    width: 171px;
    height: 90px;
}

img{
	width: 171px;
    height: 80px;
}