.contents_inner .cart_body_inner {
	width: 890px;
}

.contents_inner .cart_body {
	position: relative;
}

.contents_inner .cart_info_wrap {
	position: absolute;
	right: 0;
	top: 0;
	width: 273px;
}

.contents_inner .cart_top_wrap .cart_title_box{
	display: flex;
	justify-content: flex-end;
	
}
.contents_inner .cart_top_wrap .cart_title_box ol{
	display: flex;
}
.contents_inner .cart_top_wrap .util_btn_box{
	display: flex;
	background: #f7f7f7;
	padding: 15px 30px 15px 18px;
	align-items: center;
	flex-direction: row;
}

